.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #00abff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__d7N70 {
  display: grid;
  position: relative;
  width: 100%;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: none;
  height: 810px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__d7N70 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__d7N70 > * {
    grid-column: 4;
  }
}
.img__hRr9X {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__hRr9X > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hRr9X {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__xNJcW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 96px 24px 0px;
}
.img__xe6Vl {
  position: relative;
  object-fit: cover;
  max-width: 800px;
}
.img__xe6Vl > picture > img {
  object-fit: cover;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  min-width: 0;
}
.section___7Fs1A {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #4083ea;
  padding-top: 92px;
  padding-bottom: 92px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___7Fs1A > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___7Fs1A > * {
    grid-column: 4;
  }
}
.columns__k64Zc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 24px;
}
.columns__k64Zc > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__k64Zc > :global(.__wab_flex-container) > *,
.columns__k64Zc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__k64Zc > :global(.__wab_flex-container) > picture > img,
.columns__k64Zc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__k64Zc {
  --plsmc-rc-col-gap: 0px;
}
.columns__k64Zc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__k64Zc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k64Zc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k64Zc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k64Zc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pfwj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.reveal__qfzMw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
  color: #ffffff;
}
.freeBox__ePiPs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ePiPs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__ePiPs > :global(.__wab_flex-container) > *,
.freeBox__ePiPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ePiPs > :global(.__wab_flex-container) > picture > img,
.freeBox__ePiPs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ePiPs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ePiPs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ePiPs > :global(.__wab_flex-container) > *,
  .freeBox__ePiPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ePiPs > :global(.__wab_flex-container) > picture > img,
  .freeBox__ePiPs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.img__vuG7 {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
}
.img__vuG7 > picture > img {
  object-fit: cover;
}
.text___3ByFy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
.column__mAaky {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.columns__w7KaL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 24px;
}
.columns__w7KaL > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__w7KaL > :global(.__wab_flex-container) > *,
.columns__w7KaL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__w7KaL > :global(.__wab_flex-container) > picture > img,
.columns__w7KaL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__w7KaL {
  --plsmc-rc-col-gap: 0px;
}
.columns__w7KaL > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__w7KaL > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7KaL {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7KaL > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7KaL > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t6NwV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.column__qBuLg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.reveal__aywZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
}
.freeBox__lEo3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lEo3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__lEo3 > :global(.__wab_flex-container) > *,
.freeBox__lEo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lEo3 > :global(.__wab_flex-container) > picture > img,
.freeBox__lEo3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEo3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEo3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEo3 > :global(.__wab_flex-container) > *,
  .freeBox__lEo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lEo3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lEo3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.text__lxkTi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 24px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lxkTi {
    text-align: left;
  }
}
.img__pBwF {
  position: relative;
  object-fit: cover;
  max-width: 300px;
  height: 300px;
}
.img__pBwF > picture > img {
  object-fit: cover;
}
.columns__tsqnc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 24px;
}
.columns__tsqnc > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__tsqnc > :global(.__wab_flex-container) > *,
.columns__tsqnc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tsqnc > :global(.__wab_flex-container) > picture > img,
.columns__tsqnc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__tsqnc {
  --plsmc-rc-col-gap: 0px;
}
.columns__tsqnc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tsqnc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tsqnc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tsqnc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tsqnc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aegmq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.reveal__h5Iwn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
  color: #ffffff;
}
.freeBox___2Aj6R {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2Aj6R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___2Aj6R > :global(.__wab_flex-container) > *,
.freeBox___2Aj6R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Aj6R > :global(.__wab_flex-container) > picture > img,
.freeBox___2Aj6R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Aj6R {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Aj6R > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Aj6R > :global(.__wab_flex-container) > *,
  .freeBox___2Aj6R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Aj6R > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Aj6R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.img__mkX1V {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
}
.img__mkX1V > picture > img {
  object-fit: cover;
}
.text__dMJpk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
.column__tAkKf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.section___8MtIi {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #044adf;
  padding-top: 92px;
  padding-bottom: 92px;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___8MtIi > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8MtIi > * {
    grid-column: 4;
  }
}
.columns__gZHnv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px 24px;
}
.columns__gZHnv > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__gZHnv > :global(.__wab_flex-container) > *,
.columns__gZHnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gZHnv > :global(.__wab_flex-container) > picture > img,
.columns__gZHnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__gZHnv {
  --plsmc-rc-col-gap: 0px;
}
.columns__gZHnv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__gZHnv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gZHnv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gZHnv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gZHnv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bucQ2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__vgYfc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__aDcu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__aDcu > picture > img {
  object-fit: cover;
}
.column__uvTxX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.reveal__bFi46:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
  color: #ffffff;
}
.freeBox__iRMov {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__oSej5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  min-width: 0;
}
.section___0Nf4X {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #0b157d;
  padding-top: 92px;
  padding-bottom: 92px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___0Nf4X > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___0Nf4X > * {
    grid-column: 4;
  }
}
.columns__mrR6Q {
  --plsmc-rc-col-gap: 0px;
}
.columns__mrR6Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 24px;
}
.columns__mrR6Q > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mrR6Q > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mrR6Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mrR6Q > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qAb7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rcoW9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
}
.img__rcoW9 > picture > img {
  object-fit: cover;
}
.column__shN8Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
